

<h1> Edit Song </h1>
<h2> Song name: <%= @song.name %> </h2>
<h2> Song artist: <%=@song.artist.name%> </h2>
<h2> Song genres: <% @song.genres.each do |genre| %>
  <%= genre.name %>
  <% end %>
 </h2><br><br>

  <form action="<%="/songs/#{@song.slug}"%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
      <!-- corrected: name is for nested structure, id for labels & capybara -->
      <!-- sometimes capybara looks for value; read specs carefully -->

    <label for="artist_name">Artist Name</label><br>
    <input type="text" name="artist[name]" id="artist_name" value="<%=@song.artist.name%>"><br><br>

  Genre Name:<br>
    <% Genre.all.each do |genre| %>
      <label><%= genre.name %></label> <!-- can make this into a label -->
      <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%=genre.id%>"><br>
    <% end %><br><br>

  <input type="submit" id="Save" name="submit">
</form><br><br>

  <a href="/">HOME</a>
